


<nav class="navbar navbar-expand-lg navbar-light bg-light"> 

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li>
         <%= link_to 'Posts', root_path, class: "navbar-brand " %>
      </li>

      <li >
         <%= link_to 'About', home_about_path, class:"navbar-brand" %>
      </li>
    
    </ul>

  </div>
</nav>